In [ ]:
from notebooks import *

INFO     [15:50:04.654] [63774] 151 logging_/<module>: {logging_yaml: None}

In [ ]:
# Import bqq() / %%bqq
#   - HACK Add pydatalab
#       - Use local fork to avoid having to deal with upgrades and porting old patches
sys.path.insert(1, os.path.expanduser('~/hack/pydatalab'))
from potoo.bqq import *
%load_ext potoo.sql_magic

# Load tables for bq dataset: ebird
- Loaded manually, didn't record my steps
- TODO Retrace my steps and encode a notebook/script so that it's reproducible

# Load tables for bq dataset: xc
- Loaded manually, didn't record my steps
- TODO Retrace my steps and encode a notebook/script so that it's reproducible

# Load tables for bq dataset: metadata

## bq table: metadata.species
- Run this to dump a .parquet
- Load the .parquet into table `metadata.species` (I used the web UI, but cli/api should be equally simple)

In [ ]:
(metadata.species.df
    .pipe(df_inspect, lambda df: (df.shape,))
    .pipe(df_inspect, lambda df: df[:10])
    .to_parquet('/Users/danb/Desktop/metadata_species.parquet')
)

(10553, 13)

  shorthand                       longhand                   sci_name                com_name species_code taxon_order  taxon_id com_name_codes sci_name_codes banding_codes species_group                     family             order
0      COOS          Common Ostrich - COOS           Struthio camelus          Common Ostrich      ostric2         3.0  TC000002           COOS           STCA           NaN     Ostriches  Struthionidae (Ostriches)  Struthioniformes
1      SOOS          Somali Ostrich - SOOS     Struthio molybdophanes          Somali Ostrich      ostric3         5.0  TC000003           SOOS           STMO           NaN     Ostriches  Struthionidae (Ostriches)  Struthioniformes
2      GRRH            Greater Rhea - GRRH             Rhea americana            Greater Rhea      grerhe1         7.0  TC000004           GRRH           RHAM           NaN         Rheas            Rheidae (Rheas)        Rheiformes
3      LERH             Lesser Rhea - LERH               Rhea pennata             Lesser Rhea      lesrhe2        13.0  TC000005           LERH           RHPE           NaN         Rheas            Rheidae (Rheas)        Rheiformes
4      TBTI  Tawny-breasted Tinamou - TBTI         Nothocercus julius  Tawny-breasted Tinamou      tabtin1        32.0  TC000018           TBTI           NOJU           NaN      Tinamous       Tinamidae (Tinamous)      Tinamiformes
5      HITI        Highland Tinamou - HITI     Nothocercus bonapartei        Highland Tinamou      higtin1        33.0  TC000019            NaN           NOBO          HITI      Tinamous       Tinamidae (Tinamous)      Tinamiformes
6      HOTI          Hooded Tinamou - HOTI  Nothocercus nigrocapillus          Hooded Tinamou      hootin1        40.0  TC000022           HOTI           NONI           NaN      Tinamous       Tinamidae (Tinamous)      Tinamiformes
7   grytin1         Gray Tinamou - grytin1                Tinamus tao            Gray Tinamou      grytin1        43.0  TC000023           GRTI           TITA           NaN      Tinamous       Tinamidae (Tinamous)      Tinamiformes
8   soltin1     Solitary Tinamou - soltin1         Tinamus solitarius        Solitary Tinamou      soltin1        48.0  TC000024           SOTI           TISO           NaN      Tinamous       Tinamidae (Tinamous)      Tinamiformes
9      BLTI           Black Tinamou - BLTI            Tinamus osgoodi           Black Tinamou      blatin1        49.0  TC000025           BLTI           TIOS           NaN      Tinamous       Tinamidae (Tinamous)      Tinamiformes

In [ ]:
# TODO Ensure no/few species unmapped species
#   - cf. model.metadata.com_names_to_species
# (bqq('''
#     with ebird_species as (
#         select distinct
#             common_name,
#             category
#         # from ebird.obs_sample_001
#         from ebird.obs_all_expensive
#         where true
#             and category in ('species', 'issf', 'form', 'intergrade')
#             # and country_code = 'US'
#     )
#     select
#         category,
#         common_name,
#         com_name,
#         shorthand
#     from ebird_species e
#         full outer join metadata.species s on (e.common_name = s.com_name)
#     where true
#         and (common_name is null or com_name is null)
# ''')
#     .pipe(df_inspect, lambda df: (df.shape,))
# )